<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../scripts/slider.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Actor&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <section class="header-top">
        <div class="header-top_left">
          <div class="mobile_menu">
            <img class="menu_icon" src="../images/menu_icon.svg" alt="">
          </div>
          <img class="logo" src="../images/logo.svg" alt="">
          <form class="search" action="index.html" method="get">
            <input type="text" class="search_box" placeholder="Search New York">
            <img src="../images/search_icon.svg" class="icon" alt="">
            <button type="button" class="search_button"></button>
            <select class="selector search_select">
              <option value="New York">New York</option>
              <option value="Washington">Washington</option>
            </select>
          </form>
        </div>
        <div class="header-top_right">
            <ul class="links">
              <li class="link-item">
                <img class="link-icon" src="../images/help_icon.svg" alt="">
                <span>Help</span>
              </li>
              <li class="link-item">
                <img class="link-icon" src="../images/favorites_icon.svg" alt="">
                <span>Favorites</span>
              </li>
              <li class="link-item">
                <img class="link-icon" src="../images/cart_icon.svg" alt="">
                <span>Cart</span>
              </li>
            </ul>
            <div class="sign">
              <img class="link-icon" src="../images/sign_icon.svg" alt="">
              <button type="button" class="sign_button log-in">Log in</button>
              <button type="button" class="sign_button register">Register</button>
            </div>
        </div>
      </section>
      <section class="header-bottom">
        <div class="wrapper">
            <nav class="header_menu">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="#">tours</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">attractions</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">museums</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">discount passes</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">neighborhoods</a>
                  </li>
                </ul>
              </nav>
        </div>
      </section>
    </header>
    <div class="nav-history">
      <ul class="history">
        <!-- Это должны быть ссылки? Или кнопки? -->
        <li class="history-item">
            Category
        </li>
        <li class="history-item">
            Museums
        </li>
      </ul>
    </div>
    <section class="block-slider">
        <!-- Это должен быть span? -->
          <h1 class="block-slider__title">
              New York City Museums
            </h1>
        <div class="block-slider__slider-content">
            <img class="slider__image active" src="../images/museums/slider-1.jpg" alt="">
            <img class="slider__image" src="../images/museums/slider-2.jpg" alt="">
            <button type="button" class="block-slider__button button_left" onclick="slideImageLeft()">
              <img src="../images/arrow-right.svg" alt="">
            </button>
            <button type="button" class="block-slider__button button_right" onclick="slideImageRight()">
              <img src="../images/arrow-right.svg" alt="">
            </button>
          </div>
    </section>

    <section class="filters sticky">
      <div class="filters__left">
          <span class="filters__title">Museums</span>
          <select class="selector filters__select">
              <option class="filters__select__item" value="subcategories">Subcategories</option>
            </select>
            <select class="selector filters__select">
              <option class="filters__select__item" value="neighborhoods">Neighborhoods</option>
            </select>
            <select class="selector filters__select">
              <option class="filters__select__item" value="duration">Duration</option>
            </select>
      </div>
      <div class="filters__right">
          <select class="selector filters__select selector_sort">
              <option class="filters__select__item" value="sort">Sort</option>
            </select>
            <span class="filters__result-counter">38 results</span>
      </div>
      <div class="filters_mobile">
        <button class="filters_mobile__button map" onclick="openMap()">
          Map
        </button>
        <button class="filters_mobile__button list" onclick="closeMap()">
          List
        </button>
        <button class="filters_mobile__button filters" onclick="openFilters()">
          Filter <img class="arrow" src="../images/arrow_gray.svg" alt="">
        </button>
        <div class="filters_mobile__menu">
          <button class="filters_mobile__menu__button close" onclick="closeFilters()">
            Filter
            <img class="exit" src="../images/exit.svg" alt="">
          </button>
          <fieldset class="menu__block">
            <label class="menu__block title">
              Subcategories
              <img class="menu__block title__minus" src="../images/minus.svg" alt="">
            </label>
            <ul class="menu__block__items">
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Art Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  History Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Outdoor Museums
                </label>
              </li>
            </ul>
          </fieldset>
          <fieldset class="menu__block">
            <label class="menu__block title">
              Subcategories
              <img class="menu__block title__minus" src="../images/minus.svg" alt="">
            </label>
            <ul class="menu__block__items">
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Art Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  History Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Outdoor Museums
                </label>
              </li>
            </ul>
          </fieldset>
          <fieldset class="menu__block">
            <label class="menu__block title">
              Subcategories
              <img class="menu__block title__minus" src="../images/minus.svg" alt="">
            </label>
            <ul class="menu__block__items">
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Art Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  History Museums
                </label>
              </li>
              <li class="item">
                <label>
                  <input type="checkbox" class="item__input">
                  Outdoor Museums
                </label>
              </li>
            </ul>
          </fieldset>
          <div class="control-panel">
              <button class="filters_mobile__menu__button control">reset</button>
              <button class="filters_mobile__menu__button control">go</button>
          </div>
        </div>
      </div>
    </section>

    <main class="main">
      <div class="main__content">
        <div class="main__content_left">
          <div class="main__filters">
            <span class="filters__result-counter">38 results</span>
            <select class="selector filters__select selector_sort">
              <option class="filters__select__item" value="sort">Sort</option>
            </select>
          </div>
          <div class="row">
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-1.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
                
              </div>
              <h1 class="colomn__title">
                NYC Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-2.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
               
              </div>
              <h1 class="colomn__title">
                The Bronx Museum of the Arts Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-3.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                Brooklyn Museum of the Arts Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>

            <article class="colomn mw-2 mw-3">
                <div class="colomn__image">
                  <img src="../images/museum-4.svg" alt="">
                  <button type="button" class="colomn__button__favorites">
                    <img class="favorites" src="../images/favorites_icon.svg" alt="">
                  </button>
                </div>
                <h1 class="colomn__title">
                  American Folk Art Museum Tour with Skip-the-Line Access
                </h1>
                <h2 class="colomn__info">
                  from $26 per person
                </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-5.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                The Frick Collection Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-6.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                Guggenheim Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>

            <article class="colomn mw-2 mw-3">
                <div class="colomn__image">
                  <img src="../images/museum-7.svg" alt="">
                  <button type="button" class="colomn__button__favorites">
                    <img class="favorites" src="../images/favorites_icon.svg" alt="">
                  </button>
                </div>
                <h1 class="colomn__title">
                  Hall of Science Tour with Skip-the-Line Access
                </h1>
                <h2 class="colomn__info">
                  from $26 per person
                </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-8.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                The Intrepid Museum Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-9.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                Metropolitan Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>

            <article class="colomn mw-2 mw-3">
                <div class="colomn__image">
                  <img src="../images/museum-10.svg" alt="">
                  <button type="button" class="colomn__button__favorites">
                    <img class="favorites" src="../images/favorites_icon.svg" alt="">
                  </button>
                </div>
                <h1 class="colomn__title">
                  NYC Museum of Art Tour with Skip-the-Line Access
                </h1>
                <h2 class="colomn__info">
                  from $26 per person
                </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-11.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                NYC Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-12.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                NYC Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>

            <article class="colomn mw-2 mw-3">
                <div class="colomn__image">
                  <img src="../images/museum-13.svg" alt="">
                  <button type="button" class="colomn__button__favorites">
                    <img class="favorites" src="../images/favorites_icon.svg" alt="">
                  </button>
                </div>
                <h1 class="colomn__title">
                  NYC Museum of Art Tour with Skip-the-Line Access
                </h1>
                <h2 class="colomn__info">
                  from $26 per person
                </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-14.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                NYC Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>
            <article class="colomn mw-2 mw-3">
              <div class="colomn__image">
                <img src="../images/museum-15.svg" alt="">
                <button type="button" class="colomn__button__favorites">
                  <img class="favorites" src="../images/favorites_icon.svg" alt="">
                </button>
              </div>
              <h1 class="colomn__title">
                NYC Museum of Art Tour with Skip-the-Line Access
              </h1>
              <h2 class="colomn__info">
                from $26 per person
              </h2>
            </article>


          </div>

        </div>
        <div class="main__content_right sticky">
          <img class="map" src="../images/map.png" alt="">
        </div>
        <!-- Скопировал содержимое. Как сделать правильно?
        Типа в будущем это можно будет сделать модулем, который сюда подключается? -->
        <div class="main__content_mobile">
          <img class="map" src="../images/map.png" alt="">
        </div>
      </div>
    </main>
  </body>
</html>
