<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One World Observatory</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- jsCalendar style -->
    <link rel="stylesheet" type="text/css" href="../css/jsCalendar.css">
</head>
<body>
    <!-- header class -->
    <header class="header">
        <div class="header_left">
            <div class="header_left__container">
                <h1 class="header__title">One World Observatory</h1>
                <p class="header__article">
                    Positioned on top of the tallest building in the Western Hemisphere – on levels 100, 101, and 102 of the One World Trade Center building – sits One World Observatory, providing you with unique, panoramic views of New York City, its most iconic sites, and surrounding waters from above 1,250 feet. 
                </p>
            </div>
        </div>
        <div class="header_right">
        </div>
    </header>
    <!-- /header class -->
    <!-- main wrapper class -->
    <div class="wrapper">
        <div class="row">
            <!-- aside left class -->
            <aside class="bookmarks col-3">
                <div class="bookmarks-item active">
                    <h3 class="bookmarks__title">
                        Observatory Admission
                    </h3>
                    <div class="bookmarks__info">
                            <span>from</span>
                            <span class="bookmarks__info__cost">$28</span>
                            <span>per person</span>
                    </div>
                </div>

                <div class="bookmarks-item">
                    <h3 class="bookmarks__title">
                        Priority 
                        Observatory
                        Admission
                    </h3>
                    <div class="bookmarks__info">
                        <span>from</span>
                        <span class="bookmarks__info__cost">$37</span>
                        <span>per person</span>
                    </div>
                </div>
            </aside>
            <!-- /aside left class -->
            <!-- main class -->
            <main class="main col-6">
                <section class="main__content">
                    <h2 class="main__title">
                        One World Observatory Admission
                    </h2>
                    <h3 class="main__subtitle">
                        Standard Admission to One World Observatory.
                    </h3>
                    <nav class="main__anchors sticky">
                        <ul class="anchors">
                            <!-- переписать всё на js!!!!!!!!!  -->
                            <li class="anchors-item js-use" onclick="transformBorder(this)">
                                <a href="#target1" id="anchor1">Overview</a>
                            </li>
                            <li class="anchors-item js-use" onclick="transformBorder(this)">
                                <a href="#target2" id="anchor2">Details</a>
                            </li>
                            <li class="anchors-item js-use" onclick="transformBorder(this)">
                                <a href="#target3" id="anchor3">
                                Reviews (<span class="anchors-item__reviews-count">32</span>)
                                </a>
                            </li>
                            <li class="anchors-item js-use" onclick="transformBorder(this)">
                                <a href="#target4">Map</a>
                            </li>
                        </ul>
                        <!-- <div class="line_horizontal"></div> -->
                        <div class="anchors-border">
                            <div class="anchors-border_item"></div>
                        </div>
                    </nav>
                    <div class="main__text">
                        <p class="main__text-item" id="target1">
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  
                            
                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 
                            
                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  

                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 

                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            <br><br>
                        </p>
                        <p class="main__text-item" id="target2">
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  
                            
                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 
                            
                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  

                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 

                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            <br><br>
                        </p>
                        <p class="main__text-item" id="target3">
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  
                            
                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 
                            
                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  

                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 

                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            <br><br>
                        </p>
                        <p class="main__text-item" id="target4">
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  
                            
                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 
                            
                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            When you arrive at One World Trade Center in Lower Manhattan, hop in a Sky Pod (aka elevator) and arrive on the 102nd floor in less than 60 seconds. The Sky Pod provides a virtual time-lapse experience so you can see how New York City has changed over the centuries. 

                            If you thought the elevator ride was cool, you'll be blown away by the One World Observatory's vantage point, which on a clear day, provides a sight line of about 50 miles (80 kilometers). Watch a video about the making of the 1,776-foot-tall (540-meter) skyscraper, and then look out the panoramic windows for one-of-a-kind New York City views. Upgrade your experience to priority admission and have your own VIP expedited entry to bypass the general admission lines.  

                            At the See Forever Theater, see time-lapse photos and aerial imagery during a unique 2-minute video presentation, and then check out the the Main Observatory on the 100th floor, where you can step onto a 14-foot-wide (4-meter) disc in the floor and look down for an incredible perspective of real-time, high-definition footage of Manhattan's streets. And don't leave without stopping by City Pulse, an interactive experience that connects visitors with New York's landmarks and neighborhoods. 

                            When you're hungry, you can head to the 101st floor for a bite to eat (own expense). Options include pastries and fresh sandwiches at One Café, small plates and artisanal cocktails at the bar, One Mix, and high-end food and wine that matches the stunning view at One Dine (reservations required at One Dine).
                            <br><br>
                        </p>
                    </div>
                    <div class="anchor-form">
                        <a href="#form">
                            
                        </a>
                    </div>
                </section>
            </main>
            <!-- /main class -->
            <!-- aside_right class -->
            <aside class="aside_right col-3">
                <form class="form" action="">
                    <div class="form__header">
                        <h2 class="form__title">From <span>$28</span></h2>
                    </div>
                    <fieldset class="form__main">
                        <label class="form__label">
                            <input class="form__label__input date" 
                                type="text"
                                name="calendar"
                                readonly="readonly"
                                value="05/01/2019"
                                data-datepicker
                                data-class="classic-theme"/>
                            <span class="label">Date</span>
                            <img class="date__icon" src="../images/calendar.svg" alt="calendar_icon">
                        </label>
                        <label class="form__label">
                            <input 
                                class="form__label__input select"
                                type="text"
                                placeholder="Select Tour Option"
                                readonly="readonly"
                                >
                                <ul class="dropdown selector">
                                    <li class="selector-item" value="morning">
                                        <span class="content">Morning</span>
                                        <span class="details">Details: Standard Morning admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="mid-day">
                                        <span class="content">Mid-Day</span>
                                        <span class="details">Details: Standard Mid-Day admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="early-afternoon">
                                        <span class="content">Early Afternoon</span>
                                        <span class="details">Details: Standard Early Afternoon admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="late-afternoon">
                                        <span class="content">Late Afternoon</span>
                                        <span class="details">Details: Standard Late Afternoon admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="early-evening">
                                        <span class="content">Early Evening</span>
                                        <span class="details">Details: Standard Early Evening admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="late-evening">
                                        <span class="content">Late Evening</span>
                                        <span class="details">Details: Standard Late Evening admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                    <li class="selector-item" value="late-evening">
                                        <span class="content">Late Evening</span>
                                        <span class="details">Details: Standard Late Evening admission to One World Observatory between 3pm and 4pm. Exact admission time will be confirmed at checkout.</span>
                                    </li>
                                </ul>
                            <span class="label">TOUR</span>
                            <div class="details_block">
                                <span class="details_block__content"></span>
                            </div>
                        </label>
                        <label class="form__label">
                            <input 
                                class="form__label__input ticket"
                                type="text" 
                                readonly="readonly"
                                placeholder="Select Tickets"
                                >
                                <ul class="dropdown counter">
                                    <li class="counter-item">
                                        <div class="counter-item_left">
                                            Adults $<span class="cost">28</span>
                                        </div>
                                        <div class="counter-item_right">
                                            <button type="button" class="minus"></button>
                                            <input class="field" type="number" value="0">
                                            <button type="button" class="plus"></button>
                                        </div>
                                    </li>
                                    <li class="counter-item">
                                        <div class="counter-item_left">
                                            Senior $<span class="cost">26</span>
                                        </div>
                                        <div class="counter-item_right">
                                            <button type="button" class="minus"></button>
                                            <input class="field"  type="number" value="0">
                                            <button type="button" class="plus"></button>
                                        </div>
                                    </li>
                                    <li class="counter-item">
                                        <div class="counter-item_left">
                                            Junior $<span class="cost">20</span>
                                        </div>
                                        <div class="counter-item_right">
                                            <button type="button" class="minus"></button>
                                            <input class="field"  type="number"  value="0">
                                            <button type="button" class="plus"></button>
                                        </div>
                                    </li>
                                    <li class="counter-item">
                                        <div class="counter-item_left">
                                            Child Free<span class="cost"></span>
                                        </div>
                                        <div class="counter-item_right">
                                            <button type="button" class="minus"></button>
                                            <input class="field"  type="number"  value="0">
                                            <button type="button" class="plus"></button>
                                        </div>
                                    </li>
                                </ul>
                            <span class="label">TICKETS</span>
                        </label>
                        <div class="form__subtotal">
                            Subtotal: $<span class="form__subtotal__cost">0</span> 
                        </div>
                        <button class="form__button" type="button">
                            Book Now
                        </button>
                    </fieldset>

                </form>
            </aside>
            <!-- /aside right class -->
        </div>
    </div>
    
    <section class="anchor_footer js-use">
        <div class="anchor_footer__content">
            <div class="anchor_footer__content_left">
                <img class="anchor_footer__image" src="../images/header_background.svg" alt="little image of observatory">
                <h2 class="anchor_footer__title">
                    One World Observatory
                </h2>
            </div>
            <div class="anchor_footer__content_right">
                <h3> 
                    From $<span class="cost">28</span>
                </h3>
                <h4>PER PERSON</h4>
            </div>
        </div>
    </section>
    <div class="warning">
        You need to choose at least one adult or senior
    </div>
    <!-- /main wrapper class -->
    
    <script src="../js/anchors.js"></script>
    <!-- jsCalendar script -->
    <script type="text/javascript" src="../js/jsCalendar.js"></script>
    <script src="../js/jsCalendar.datepicker.min.js"></script>
    <!-- form script -->
    <script type="text/javascript" src="../js/form.js"></script>
</body>

</html>