h1, h2, h3, h4,
button,
body,
p,
ul, li,
a,
fieldset, form
    margin 0
    padding 0

ul, 
a
    text-decoration: none


li 
    list-style: none

textarea,
input
    &:focus
        outline: none

input[type='number'] 
    -moz-appearance:textfield

input
    &::-webkit-inner-spin-button 
    &::-webkit-outer-spin-button
        -webkit-appearance: none

button
    &:active
    &:focus
        outline:0